<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Mrs. K List</title>

    <link
      rel="shortcut icon"
      type="image/jpg"
      href="https://cdn.glitch.com/ec82cb3a-8efb-4210-ac1e-80fe5bb99c81%2FLetter%20K.ico?v=1615901281538"
    />

    <link rel="stylesheet" href="style.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="connect.js" defer></script>
    <script src="login.js" defer></script>
  </head>
  <body>
    <h1>Mrs. K List</h1>

    <h3>Login</h3>
    <form id="loginForm">
      <input
        type="text"
        autocomplete="off"
        placeholder="Enter your code here"
        id="loginCode"
      />
      <br /><br />
      <input
        type="password"
        autocomplete="off"
        placeholder="Enter your password here"
        id="loginPassword"
      />
      <br /><br />
      <input type="submit" value="Login!" />
    </form>
    <p id="loginError"></p>
    <p>Or, if you haven't already registered, <a href="/register">register</a></p>

    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js" defer></script>
  </body>
</html>
