<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Mrs. K's Anime to Watch List</title>

    <link
      rel="shortcut icon"
      type="image/jpg"
      href="https://cdn.glitch.com/ec82cb3a-8efb-4210-ac1e-80fe5bb99c81%2FLetter%20K.ico?v=1615901281538"
    />

    <link rel="stylesheet" href="style.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="review.js" defer></script>
  </head>
  <body>
    <h1>Mrs. K's Anime to Watch List</h1>

    <table id="table">
      <tr>
        <th class="watched" rowspan="2">Approve/Deny</th>
        <th class="name" rowspan="2">Name</th>
        <th class="type" colspan="4">Type</th>
        <th class="notes" rowspan="2">Suggestor</th>
      </tr>
      <tr>
        <th class="must header">Must</th>
        <th class="funny header">Funny</th>
        <th class="commit header">Commit</th>
        <th class="scary header">Scary</th>
      </tr>
    </table>
    
    <div id="editBox">
      <a href="/new">Return to List</a>
    </div>

    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js" defer></script>
  </body>
</html>
