<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Mrs. K's Anime to Watch List</title>
    
    <link rel="shortcut icon" type="image/jpg" href="https://cdn.glitch.com/ec82cb3a-8efb-4210-ac1e-80fe5bb99c81%2FLetter%20K.ico?v=1615901281538"/>
    
    <link rel="stylesheet" href="style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="suggest.js" defer></script>
  </head>  
  <body>
    <h1>Mrs. K's Anime to Watch List</h1>
    
    <h3>Suggest</h3>
    <form id="suggestForm">
      <input
        type="text"
        autocomplete="off"
        placeholder="Enter the anime's name here"
        id="suggestName"
      />
      <br><br>
      Must
      <input
        type="checkbox"
        id="suggestMust"
      />
      <br>
      Funny
      <input
        type="checkbox"
        id="suggestFunny"
      />
      <br>
      Commit
      <input
        type="checkbox"
        id="suggestCommit"
      />
      <br>
      Scary
      <input
        type="checkbox"
        id="suggestScary"
      />
      <br /><br />
      <input type="submit" value="Suggest!" />
    </form>
    <p id="suggestResponce"></p>
    
    <a href="/new">Return to list</a>
    
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js" defer></script>
  </body>
</html>
