:root {
  --pink: #F72585;
  --purple: #7209B7;
  --blue: #480CA8;
  --dblue: #3A0CA3;
  --marineblue: #4361EE;
  --lightblue: #4CC9F0;
  --lightgray: #ededed;
}

body {
  font-family: helvetica, arial, sans-serif;
  background: #FFFFFF;
  margin: 2em;
}

h1 {
  color: #ff7c7c;
}

table {
  width: 100%;
}

table,
th,
td {
  border-collapse: collapse;
}

th {
  color: white;
}

.watched,
.name,
.notes {
  background: var(--pink);
  border-bottom: 5px solid black;
}

.type {
  background: var(--pink);
}
.must.header,
.commit.header, 
.funny.header, 
.scary.header,
.adult.header, 
.romance.header {
  border-bottom: 5px solid black;
}

.must,
.shadow.must {
  background: var(--pink);
}

.funny,
.shadow.funny {
  background: var(--purple);
}

.commit,
.shadow.commit {
  background: var(--blue);
}

.scary,
.shadow.scary {
  background: var(--dblue);
}

.adult,
.shadow.adult {
  background: var(--marineblue);
}

.romance,
.shadow.romance {
  background: var(--lightblue);
}

.shadow {
  background: var(--lightgray);
}

.loginButton {
  padding: 20px;
  float: right;
}

#loginError,
#registerError {
  color: red;
}

#editBox {
  padding: 20px;
/*   float: left; */
}

.footer {
/*   background: lightgray; */
  border-top: 5px lightgray solid;
  margin: 10px;
}